{% extends 'base.html' %} 
{% load static %} 
{% block title %}Changes Password{% endblock title %} 
{% block main %}
  <!-- ============================ COMPONENT Changes Password   ================================= -->
  <div class="container">
    <div class="d-flex flex-column text-center" style="max-width: 600px; margin: 0 auto;">
      <div class="form-title text-center" style="margin: 50px;">
        <h4 class="title0">Changes Password</h4>
      </div>
      <form  id="form" method="POST">
        {% csrf_token %}
        <div class="password-error form-group" style="display: none">
                      
        </div>
        <div class="form-group" style="margin-top: 15px;">
          <input name="current_password" class="form-control" placeholder="Current Password" type="password" id="id_current_password" required />
        </div>

        <div class="form-group" style="margin-top: 15px;">
          <input type="password" name="password" placeholder="Password" id="id_password" class="form-control" required/>
        </div>
      
        <div class="form-group eye-add" style="margin-top: 15px;">
          <input type="password" name="password2" placeholder="Confirm Password" id="id_password2" class="form-control" required/>
            <span class="text-muted eye-add-style" id="showHide">
            <i class="fas fa-eye-slash fa-lg me-3 fa-fw text-info eyer-style-cursor" id="icon"></i></span>
        </div>
        
        <div class="form-group" style="margin-top: 15px;">
          <button  type="button" class="btn btn-info btn-lg form-control" id="chanPassBtn">Changes Saved</button>
        </div>
      </form>
    </div>
  </div>
  <!-- ============================ COMPONENT Changes Password  END.// ================================= -->
{% endblock main %}
{% block extra_scripts %}
<script>
  $(document).ready(function(){
    $("#chanPassBtn").on("click", function(e) {
        e.preventDefault();
        let current_password = $("#form #id_current_password").val();
        let password = $("#form #id_password").val();
        let password2 = $("#form #id_password2").val();
        let csrfmiddlewaretoken = $('#form input[name=csrfmiddlewaretoken]').val();
    
    
        if (current_password.length > 0 && password.length > 0 && password2.length > 0) {
            $.ajax({
                url: "",
                method:"POST",
                headers: { 
                  "X-CSRFToken": csrfmiddlewaretoken  // CSRF token passing
                },
                contentType: "application/json",
                data: JSON.stringify({password:password, password2:password2, current_password:current_password}),
                dataType:"json",
                success: function(res) {
                    if (res.status == 200) {
                      $('#form').load(location.href + ' #form');
                        alertify.success(res.messages);
                    } else if (res.status == 400) {
                        alertify.error(res.messages);
                    }
                },
            });
        } else {
            if (current_password == "") {
                alertify.error('Please fill up your current password');
            }
            if (password == "") {
                alertify.error('Please fill up your new password');
            }
            if (password2 == "") {
                alertify.error('Please fill up your confirm password');
            }
        }
    });
    
    $("#id_password, #id_password2").on("keyup blur change input focus", function(e){
      e.preventDefault()
      let password = $("#form #id_password").val().trim();
      let password2 = $("#form #id_password2").val().trim();
      if(password.length > 0 && password2.length > 0){
        $.ajax({
          url:"{% url 'passwordvalidation' %}",
          method:"POST",
          data: JSON.stringify({password:password, password2:password2}),
          contentType: "application/json",
          dataType:"json",  
          success:function(res){
            if(res.password_error){
              $("#id_password, #id_password2").addClass("is-invalid")
              $(".password-error").html(res.password_error)
              $(".password-error").css("display", "block");
              $("#chanPassBtn").attr('disabled', true);
            }
            if(res.password_info){
              $("#id_password, #id_password2").removeClass("is-invalid")
              $("#id_password, #id_password2").addClass("is-valid")
              $(".password-error").html(res.password_info)
              $(".password-error").css("display", "block");
              $("#chanPassBtn").attr('disabled', false);
            }
            else{
              if(res.password_valid){
                $("#id_password, #id_password2").removeClass("is-invalid")
                $("#id_password, #id_password2").addClass("is-valid")
                $(".password-error").css("display", "none");   
                $("#chanPassBtn").attr('disabled', false);             
              }
            }
          }       
        });
      }
    });
  }); 
</script>
{% endblock extra_scripts %}