{% load static %}
	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">NEW COLLECTIONS</h2>
					</div>
				</div>
				<!-- section title -->

				<!-- Product Single -->
				{% if new_collections %}
				{% for new_collection in new_collections %}
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="product product-single">
						<div class="product-thumb">
							{% if new_collection.discount %}
							<div class="product-label">
								{% if new_collection.discount_title %}
								<span>{{new_collection.discount_title}}</span>
								<span class="sale">{{new_collection.discount}}%</span>
								{% endif %}
							</div>
							{% endif %}
		
							<a href="{% url "singleproductview" new_collection.id %}" class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</a>
							{% if new_collection.products_images.first.image %}
								<img src="{{new_collection.products_images.first.image.url}}" alt="">
							{% else %}
								<img src="{% static "img/no-image.jpg" %}" alt="">
							{% endif %}
						</div>
						<div class="product-body">
							<h3 class="product-price">
								{% if new_collection.product_variants.exists %}
									$ {{ new_collection.product_variants.first.price }}
								{% else %}
								$ {{ new_collection.price }}
								{% endif %}
								{% if new_collection.old_price %}
								<del class="product-old-price">$ {{new_collection.old_price|title}}</del>									
								{% endif %}
							</h3>
							<div class="product-rating ">
								<i class="fa fa-star{% if new_collection.average_review < 1%}-o empty{% endif%}"></i>
								<i class="fa fa-star{% if new_collection.average_review < 2%}-o empty{% endif%}"></i>
								<i class="fa fa-star{% if new_collection.average_review < 3%}-o empty{% endif%}"></i>
								<i class="fa fa-star{% if new_collection.average_review < 4%}-o empty{% endif%}"></i>
								<i class="fa fa-star{% if new_collection.average_review < 5%}-o empty{% endif%}"></i>
								{{ new_collection.average_review |stringformat:".2f"}}
							</div>
							<h2 class="product-name"><a href="{% url "singleproductview" new_collection.id %}">{{new_collection.title|title}}</a></h2>
							<div class="product-btns">
								<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
				{% endif %}
				<!-- /Product Single -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->